
BODY {background-color:#AFEEEE}
IMG{border-style:solid; width:200; heigh:200}
.center-img {
  display: block;
  margin: 0 auto;
}
H1, H2{ margin-top: 10mm; font-family: Arial;text-align: center; font-size: 22pt} 

P{text-indent: 1.25cm; font-family: Georgia; font-size: 14pt;}

