<!--The content below is only a placeholder and can be replaced.-->

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="app.component.css">
<h1> Немного обо мне</h1>
<img src= "assets/img/people.jpg" class="center-img" />
<p>
  Мне 20 лет,родилась и живу в Красноярске.
  На данный момент я студентка СибГУ - перешла на 4 курс специальности прикладная информатика в экономике.
  Нас научили многому по чуть чуть: я изучала С++, С#, Delphi, даже Ассемблер(без комментариев))). Буквально полгода назад начала изучать HTML, и это увлекло больше всего.
</p>
<h2> Жизнь помимо учебы </h2>
<p>
  Около 7 лет профессионально занимаюсь подводным спортом - плавание в ластах.
  Хобби - кататься на сноуборде, ходить в походы в горы, путешествовать.
</p>


